@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yomogi', cursive;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-header {
  font-family: 'Yomogi', cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  background-size: 200% 100%;
  animation: gradientAnimation 4s ease-in-out infinite;
}


h1 {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Yomogi', cursive;
  font-weight: 400;
  margin-bottom: 10px;
}

nav a {
  font-family: 'Yomogi', cursive;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

a {
  font-family: 'Yomogi', cursive;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}


main {
  padding-top: 100px;
}

section {
  font-family: 'Yomogi', cursive;
  color: white;
  padding: 50px;
}

section h2 {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
}

section p {
  font-family: 'Yomogi', cursive;
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
            background-color: white;
            font-family: 'Tsukimi Rounded', sans-serif;
            font-weight: 700;
            color: black;
            border: none;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;

            cursor: pointer;
        }

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  z-index: -1;
}
